<h1 class="title">バイト勤怠システム</h1>
      <p>現在、<%= current_user.name %>さんがログインしています</p>
      <%# <%= link_to current_user.name, edit_user_path(current_user)%>
  <p>※入力後はログアウトを<span>必ず</span>するように！</p>
  <div id="container">
      <button class="btn shukkin">出勤時クリック</button>
      <button class="btn taikin">退勤時クリック</button>
  </div>

  <div id="container">
    <button class="btn">入力前にログイン</button>
    <button class="btn">入力後にログアウト</button>
  <button class="btn">管理者用ページ</button>
  </div>

  <div id="container">
    <button class="btn">新しく来た方はコチラで登録して下さい</button>
  </div>
